In [1]:
# import libraries
import os
import evalml
import numpy as np
import pandas as pd

In [2]:
# import titantic dataset
DATA_PATH = "~/Documents/evalml/demos/data/titanic"
titanic_train = pd.read_csv(os.path.join(DATA_PATH, 'train.csv'))
titanic_test = pd.read_csv(os.path.join(DATA_PATH, 'test.csv'))

display(titanic_train.head())
display(titanic_test.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
# Show missing values
display(titanic_train[titanic_train.isnull().any(axis=1)].head())
display(titanic_test[titanic_test.isnull().any(axis=1)].head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
# fill missing data
titanic_train["Age"].fillna(titanic_train["Age"].mean(skipna=True), 
                            inplace=True)
titanic_train["Embarked"].fillna(titanic_train["Embarked"].mode()[0], 
                              inplace=True)

titanic_train.drop('Cabin', axis=1, inplace=True)
titanic_train.drop('Name', axis=1, inplace=True)
titanic_train.drop('Ticket', axis=1, inplace=True)
titanic_train.drop('PassengerId', axis=1, inplace=True)


# repeat for test data
titanic_test["Age"].fillna(titanic_test["Age"].mean(skipna=True), 
                            inplace=True)
titanic_test["Embarked"].fillna(titanic_test["Embarked"].mode()[0], 
                              inplace=True)

titanic_test['Fare'].fillna(titanic_test['Fare'].mean(),
                           inplace=True)

titanic_test.drop('Cabin', axis=1, inplace=True)
titanic_test.drop('Name', axis=1, inplace=True)
titanic_test.drop('Ticket', axis=1, inplace=True)
titanic_test.drop('PassengerId', axis=1, inplace=True)

In [5]:
# check if any is NaN
print(titanic_train.isnull().any(axis=1).any())
print(titanic_test.isnull().any(axis=1).any())

False
False

In [6]:
# create encodings
titanic_train = pd.get_dummies(titanic_train, columns=["Pclass"])
titanic_train = pd.get_dummies(titanic_train, columns=["Embarked"])
titanic_train = pd.get_dummies(titanic_train, columns=["Sex"])
titanic_train.drop('Sex_female', axis=1, inplace=True)

titanic_test = pd.get_dummies(titanic_test, columns=["Pclass"])
titanic_test = pd.get_dummies(titanic_test, columns=["Embarked"])
titanic_test = pd.get_dummies(titanic_test, columns=["Sex"])
titanic_test.drop('Sex_female', axis=1, inplace=True)

In [7]:
X_train = titanic_train.drop('Survived', axis=1)
y_train = titanic_train['Survived']

display(X_train.head())

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_male
0,22.0,1,0,7.2500,0,0,1,0,0,1,1
1,38.0,1,0,71.2833,1,0,0,1,0,0,0
2,26.0,0,0,7.9250,0,0,1,0,0,1,0
3,35.0,1,0,53.1000,1,0,0,0,0,1,0
4,35.0,0,0,8.0500,0,0,1,0,0,1,1

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [8]:
X_train, X_holdout, y_train, y_holdout = evalml.preprocessing.split_data(X_train, y_train, test_size=.2)

In [9]:
# use evalml
clf = evalml.AutoClassifier(objective="F1",
                            max_pipelines=50)

In [10]:
# fit using autoclassfier
clf.fit(X_train, y_train)

*****************************
* Beginning pipeline search *
*****************************

Optimizing for F1. Greater score is better.

Searching up to 50 pipelines. No time limit is set. Set one using max_time parameter.

Possible model types: linear_model, xgboost, random_forest

[18:04:00] src/learner.cc:723: Check failed: mparam_.num_feature != 0 (0 vs. 0) : 0 feature is supplied.  Are you using raw Booster interface?
Stack trace:
  [bt] (0) 1   libxgboost.dylib                    0x000000011829d579 dmlc::LogMessageFatal::~LogMessageFatal() + 57
  [bt] (1) 2   libxgboost.dylib                    0x00000001182a28b6 xgboost::LearnerImpl::LazyInitModel() + 806
  [bt] (2) 3   libxgboost.dylib                    0x00000001182b82fe XGBoosterUpdateOneIter + 158
  [bt] (3) 4   _ctypes.cpython-37m-darwin.so       0x0000000104fc9e17 ffi_call_unix64 + 79
  [bt] (4) 5   ???                                 0x00007ffeec569f20 0x0 + 140732863520544


[18:04:00] src/learner.cc:723: Check failed: mparam_.num_feature != 0 (0 vs. 0) : 0 feature is supplied.  Are you using raw Booster interface?
Stack trace:
  [bt] (0) 1   libxgboost.dylib                    0x000000011829d579 dmlc::LogMessageFatal::~LogMessageFatal() + 57
  [bt] (1) 2   libxgboost.dylib                    0x00000001182a28b6 xgboost::LearnerImpl::LazyInitModel() + 806
  [bt] (2) 3   libxgboost.dylib                    0x00000001182b82fe XGBoosterUpdateOneIter + 158
  [bt] (3) 4   _ctypes.cpython-37m-darwin.so       0x0000000104fc9e17 ffi_call_unix64 + 79
  [bt] (4) 5   ???                                 0x00007ffeec569f20 0x0 + 140732863520544


Testing XGBoost w/ imputation:  78%|███████▊  | 39/50 [02:11<00:26,  2.37s/it]

/Users/featurelabs/.pyenv/versions/3.7.4/envs/evalml/lib/python3.7/site-packages/sklearn/feature_selection/base.py:79: UserWarning: No features were selected: either the data is too noisy or the selection test too strict.
  UserWarning)
/Users/featurelabs/.pyenv/versions/3.7.4/envs/evalml/lib/python3.7/site-packages/sklearn/feature_selection/base.py:79: UserWarning: No features were selected: either the data is too noisy or the selection test too strict.
  UserWarning)

[18:04:00] src/learner.cc:723: Check failed: mparam_.num_feature != 0 (0 vs. 0) : 0 feature is supplied.  Are you using raw Booster interface?
Stack trace:
  [bt] (0) 1   libxgboost.dylib                    0x000000011829d579 dmlc::LogMessageFatal::~LogMessageFatal() + 57
  [bt] (1) 2   libxgboost.dylib                    0x00000001182a28b6 xgboost::LearnerImpl::LazyInitModel() + 806
  [bt] (2) 3   libxgboost.dylib                    0x00000001182b82fe XGBoosterUpdateOneIter + 158
  [bt] (3) 4   _ctypes.cpython-37m-darwin.so       0x0000000104fc9e17 ffi_call_unix64 + 79
  [bt] (4) 5   ???                                 0x00007ffeec569f20 0x0 + 140732863520544


Testing LogisticRegression w/ imputation + scaling:  80%|████████  | 40/50 [02:12<00:18,  1.83s/it]

/Users/featurelabs/.pyenv/versions/3.7.4/envs/evalml/lib/python3.7/site-packages/sklearn/feature_selection/base.py:79: UserWarning: No features were selected: either the data is too noisy or the selection test too strict.
  UserWarning)

[18:04:17] src/learner.cc:723: Check failed: mparam_.num_feature != 0 (0 vs. 0) : 0 feature is supplied.  Are you using raw Booster interface?
Stack trace:
  [bt] (0) 1   libxgboost.dylib                    0x000000011829d579 dmlc::LogMessageFatal::~LogMessageFatal() + 57
  [bt] (1) 2   libxgboost.dylib                    0x00000001182a28b6 xgboost::LearnerImpl::LazyInitModel() + 806
  [bt] (2) 3   libxgboost.dylib                    0x00000001182b82fe XGBoosterUpdateOneIter + 158
  [bt] (3) 4   _ctypes.cpython-37m-darwin.so       0x0000000104fc9e17 ffi_call_unix64 + 79
  [bt] (4) 5   ???                                 0x00007ffeec569f20 0x0 + 140732863520544


[18:04:17] src/learner.cc:723: Check failed: mparam_.num_feature != 0 (0 vs. 0) : 0 feature is supplied.  Are you using raw Booster interface?
Stack trace:
  [bt] (0) 1   libxgboost.dylib                    0x000000011829d579 dmlc::LogMessageFatal::~LogMessageFatal() + 57
  [bt] (1) 2   libxgboost.dylib                    0x00000001182a28b6 xgboost::LearnerImpl::LazyInitModel() + 806
  [bt] (2) 3   libxgboost.dylib                    0x00000001182b82fe XGBoosterUpdateOneIter + 158
  [bt] (3) 4   _ctypes.cpython-37m-darwin.so       0x0000000104fc9e17 ffi_call_unix64 + 79
  [bt] (4) 5   ???                                 0x00007ffeec569f20 0x0 + 140732863520544


Testing XGBoost w/ imputation:  90%|█████████ | 45/50 [02:28<00:18,  3.71s/it]

/Users/featurelabs/.pyenv/versions/3.7.4/envs/evalml/lib/python3.7/site-packages/sklearn/feature_selection/base.py:79: UserWarning: No features were selected: either the data is too noisy or the selection test too strict.
  UserWarning)
/Users/featurelabs/.pyenv/versions/3.7.4/envs/evalml/lib/python3.7/site-packages/sklearn/feature_selection/base.py:79: UserWarning: No features were selected: either the data is too noisy or the selection test too strict.
  UserWarning)

[18:04:17] src/learner.cc:723: Check failed: mparam_.num_feature != 0 (0 vs. 0) : 0 feature is supplied.  Are you using raw Booster interface?
Stack trace:
  [bt] (0) 1   libxgboost.dylib                    0x000000011829d579 dmlc::LogMessageFatal::~LogMessageFatal() + 57
  [bt] (1) 2   libxgboost.dylib                    0x00000001182a28b6 xgboost::LearnerImpl::LazyInitModel() + 806
  [bt] (2) 3   libxgboost.dylib                    0x00000001182b82fe XGBoosterUpdateOneIter + 158
  [bt] (3) 4   _ctypes.cpython-37m-darwin.so       0x0000000104fc9e17 ffi_call_unix64 + 79
  [bt] (4) 5   ???                                 0x00007ffeec569f20 0x0 + 140732863520544


Testing LogisticRegression w/ imputation + scaling:  92%|█████████▏| 46/50 [02:29<00:10,  2.71s/it]

/Users/featurelabs/.pyenv/versions/3.7.4/envs/evalml/lib/python3.7/site-packages/sklearn/feature_selection/base.py:79: UserWarning: No features were selected: either the data is too noisy or the selection test too strict.
  UserWarning)

Testing Random Forest w/ imputation: 100%|██████████| 50/50 [02:47<00:00,  3.35s/it]

✔ Optimization finished

In [11]:
clf.rankings

,id,pipeline_name,score,high_variance_cv,parameters
0,11,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 8.362426847738403, 'imp..."
1,2,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 8.444214828324364, 'imp..."
2,5,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 6.239401330891865, 'imp..."
3,46,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 0.44486185482223584, 'i..."
4,7,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 0.5765626434012575, 'im..."
5,9,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 8.123565600467177, 'imp..."
6,43,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 1.0680169958060437, 'im..."
7,34,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 8.702171711000782, 'imp..."
8,12,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 3.6887329830070748, 'im..."
9,41,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 5.824377722830321, 'imp..."
10,40,LogisticRegressionPipeline,0.710059,False,"{'penalty': 'l2', 'C': 5.209570020716537, 'imp..."
11,36,XGBoostPipeline,0.701754,False,"{'eta': 0.5436683685027868, 'min_child_weight'..."
12,29,XGBoostPipeline,0.701754,False,"{'eta': 0.36371077094262266, 'min_child_weight..."
13,31,XGBoostPipeline,0.701754,False,"{'eta': 0.6521280505821034, 'min_child_weight'..."
14,33,RFClassificationPipeline,0.701754,False,"{'n_estimators': 383, 'max_depth': 8, 'impute_..."
15,35,XGBoostPipeline,0.701754,False,"{'eta': 0.1801594034376154, 'min_child_weight'..."
16,0,XGBoostPipeline,0.701754,False,"{'eta': 0.5928446182250184, 'min_child_weight'..."
17,37,XGBoostPipeline,0.701754,False,"{'eta': 0.8343387875365329, 'min_child_weight'..."
18,1,XGBoostPipeline,0.701754,False,"{'eta': 0.38438170729269994, 'min_child_weight..."
19,44,RFClassificationPipeline,0.701754,False,"{'n_estimators': 423, 'max_depth': 6, 'impute_..."
20,47,RFClassificationPipeline,0.701754,False,"{'n_estimators': 392, 'max_depth': 7, 'impute_..."
21,48,RFClassificationPipeline,0.701754,False,"{'n_estimators': 417, 'max_depth': 2, 'impute_..."
22,27,XGBoostPipeline,0.701754,False,"{'eta': 0.6531400357979378, 'min_child_weight'..."
23,24,XGBoostPipeline,0.701754,False,"{'eta': 0.35950790057378607, 'min_child_weight..."
24,23,XGBoostPipeline,0.701754,False,"{'eta': 0.1496748671836832, 'min_child_weight'..."
25,18,XGBoostPipeline,0.701754,False,"{'eta': 0.7206326547259169, 'min_child_weight'..."
26,3,XGBoostPipeline,0.701754,False,"{'eta': 0.5288949197529046, 'min_child_weight'..."
27,6,XGBoostPipeline,0.701754,False,"{'eta': 0.6481718720511973, 'min_child_weight'..."
28,8,RFClassificationPipeline,0.701754,False,"{'n_estimators': 369, 'max_depth': 10, 'impute..."
29,17,XGBoostPipeline,0.701754,False,"{'eta': 0.9786183422327642, 'min_child_weight'..."
30,49,RFClassificationPipeline,0.701754,False,"{'n_estimators': 424, 'max_depth': 4, 'impute_..."
31,21,XGBoostPipeline,0.701754,False,"{'eta': 0.264555612104627, 'min_child_weight':..."
32,28,RFClassificationPipeline,0.331210,False,"{'n_estimators': 88, 'max_depth': 77, 'impute_..."
33,15,RFClassificationPipeline,0.320513,False,"{'n_estimators': 926, 'max_depth': 116, 'imput..."
34,14,RFClassificationPipeline,0.306667,False,"{'n_estimators': 859, 'max_depth': 678, 'imput..."
35,13,RFClassificationPipeline,0.306667,False,"{'n_estimators': 715, 'max_depth': 487, 'imput..."
36,16,RFClassificationPipeline,0.306667,False,"{'n_estimators': 857, 'max_depth': 432, 'imput..."
37,38,RFClassificationPipeline,0.304636,False,"{'n_estimators': 252, 'max_depth': 15, 'impute..."
38,32,RFClassificationPipeline,0.272109,False,"{'n_estimators': 390, 'max_depth': 15, 'impute..."
39,42,RFClassificationPipeline,0.272109,False,"{'n_estimators': 353, 'max_depth': 13, 'impute..."
40,10,RFClassificationPipeline,0.272109,False,"{'n_estimators': 609, 'max_depth': 71, 'impute..."
41,22,RFClassificationPipeline,0.272109,False,"{'n_estimators': 554, 'max_depth': 544, 'imput..."
42,20,RFClassificationPipeline,0.272109,False,"{'n_estimators': 433, 'max_depth': 289, 'imput..."
43,25,RFClassificationPipeline,0.270270,False,"{'n_estimators': 336, 'max_depth': 90, 'impute..."
44,30,RFClassificationPipeline,0.270270,False,"{'n_estimators': 338, 'max_depth': 75, 'impute..."
45,19,RFClassificationPipeline,0.270270,False,"{'n_estimators': 187, 'max_depth': 756, 'imput..."
46,4,RFClassificationPipeline,0.270270,False,"{'n_estimators': 569, 'max_depth': 630, 'imput..."
47,26,RFClassificationPipeline,0.270270,False,"{'n_estimators': 317, 'max_depth': 47, 'impute..."
48,39,XGBoostPipeline,NaN,True,"{'eta': 0.8352289851029494, 'min_child_weight'..."
49,45,XGBoostPipeline,NaN,True,"{'eta': 0.8352289851029494, 'min_child_weight'..."

In [12]:
pipeline = clf.best_pipeline
pipeline.score(X_holdout, y_holdout)

0.7407407407407408